


/* Text Logo Style */
.site-contact,
.site-logo{
    float:left;
    padding-top: 30px;
}



.site-logo h1 a{
	color:#fff;
}
.site-logo h1 a, .header-style2 .site-logo h1 a, .header-style3 .site-logo h1 a, .header-style4 .site-logo h1 a, .header-style5 .site-logo h1 a{
	color:#222;
}
.site-logo h1 a{
	color:#222!important;
}

.site-contact{
	float:left;
    padding-top: 15px;
}

.site-contact a{

	margin: 5px 0px;
}

.site-contact i{

	color: #c92f2f;
}

.site-contact a:hover{

	color: #c92f2f;
}

.site-contact span:hover{

	color: #c92f2f;
}


.logo-icon {
    /* width: 50px;
    height: 60px; */
    /* text-align: center;
    line-height: 28px;
    font-size: 13px; */
    /* display: inline-block; */
     background-image: url(../css/img/logo.png); 
    /* background-position: left; */
    /* float: left; */
}


/* .background--light .logo-icon, .header-style2 .logo-icon, .header-style3 .logo-icon, .header-style4 .logo-icon, .header-style5 .logo-icon{ */
	/*border-color:#222;*/
/* } */

.logo-text{
	/*display:inline-block;
	line-height:36px;
	font-size:16px;
	text-transform:uppercase;
	font-weight:700;*/
	
	display: inline-block;
	line-height: 36px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	
	padding-top: 10px;
}

.logo-text > span{
	font-weight:300;
}

.logo-text > small{
	font-weight:300;
	font-size: 11px;
	color:#FFF
}
.logo-text > small{
	color: #333
}



/* Classy nav */

/* .classynav{
    float: left;
   
    margin: 30px 120px 0px 0px;
} */



/* <div class="crose-main-menu" style="opacity: 0.95;"> */

.crose-main-menu{
    opacity: 0.97;;
}

.clearfix{zoom: 1;}
.clearfix::after{
    content: '.';
    clear:both;
    display:block;
    height:0;
visibility: hidden;
}


/* Special */
.special{
	color: #c92f2f;
	font-weight:200;
}


.cotext {
	text-align: justify;
} 



.single-blog-post{
	text-align: justify;
	border: none;
	
}

.activities{

border-radius: 15px;
padding-top: 5px;
height: 150px;

}

.activities .post-content h4{

	text-align: center;
	
	}


.activities .post-excerpt{
	color: #c92f2f;
    font-size: 16px;
    font-variant-caps: small-caps;
    font-weight: 800;
}

.single-blog-post:hover,
.single-blog-post:active{
	text-align: justify;
	
}

.single-blog-post:hover p,
.single-blog-post:active p{
	
	color: #c92f2f;
}

.single-blog-post .post-content{
margin: 10px;
}


.post-content h4{
	text-align: justify;
}


.post-excerpt p{
	text-align: justify;
	text-align-last: end;
}
/* 
.classynav ul li {
   
    border-bottom: 0px solid #fff;
    margin-right: 15px;
	text-align: center;
	
} */

/* .classynav ul li:hover {
   
    border-bottom: 2px solid #c92f2f;

} */


/* .classynav ul li a{
   
    
	margin-bottom: 20px;
} */

/* .classynav ul li a:hover,
.classynav ul li a:visited{
   
    color: #c92f2f;
	margin-bottom: 20px;
} */





.single-hero-slide .hero-slides-content .header-text{
	color: rgb(201, 47, 47);
    animation-delay: 150ms;
    opacity: 1;
    font-weight: 800;
    color: #c92f2f;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 45px;
    margin-bottom: 30px;
	line-height: 3.0;
	
}


.single-hero-slide .hero-slides-content h4{
	
    opacity: 1;
	word-spacing: 3px;
padding-bottom: 15px;
    line-height: 2.0;
}

/* .classynav {
    margin: 30px 30px 0px 0px;
} */

.section-padding-50-0 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.crose-btn.active, .crose-btn:hover, .crose-btn:focus {
    font-size: 14px;
    color: #c92f2f;
    font-weight: 700;
    background-color: #ebebeb;
}

/* #scrollUp:hover {
	color: #c92f2f;
	background-color: #ebebeb;
	font-weight: 700;
	font-size: 14px;
} */

.team{
	
    height: 200px;
    width: 200px;
}

.team img{
	opacity: 0.8;
}


.team img:hover,
.team img:focus{
	opacity: 1.0;
	width: 220px;
	height: 200px;
}



.care-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    
}

.care-photo img {
    
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.care-photo img:hover {
   
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.post-title img{
    height: 70px;
}


.activities {
    
    height:100px;
}

.gallery-area {
   height: 100%;
}

.post-title h4{
    float: left;
    border-right: 1px solid #c92f2f;
    padding-right: 5px;
    margin-right: 5px;
}

.single-latest-sermons .sermons-thumbnail .team {
    border-radius: 50%;
}


/* .single-latest-sermons .sermons-thumbnail {
	
	background-color: #c92f2f;
} */

.site-contact .email-address {
    margin-right: 30px;
}

.site-contact .email-address, 
.site-contact .phone {
    font-size: 14px;
    color: #959595;
}

.top-social-info {
    position: relative;
    z-index: 1;
    border-left: 2px solid #959595;
    margin-left: 30px;
    padding-left: 20px;
}

.facility-text h5 {
    text-align: center; 
    color: #c92f2f; 
    margin-top: 20px !important;
}

.gallery-area .single-gallery-area {
    
    flex: 0 0 45%;
    max-width: 45%;
    max-height: 30%;
    
}



.footer-social-icon a{
    margin-right: 7px;
}

/* .footer-social-icon a:hover{
    color: #c92f2f;
} */

.minhead{

    border-bottom: 2px solid #c92f2f;
   width: 30px;
   margin-bottom: 5px;
}

.footer-area .main-footer-area .single-footer-widget .contact-information p, .footer-area .main-footer-area .single-footer-widget .contact-information a {
    
    margin-bottom:30px;
}

.facebook{
    color: #3b5998;
}
 
.twitter{
    color: #00aced;
}

.google-plus{
    color: #dd4b39;
}

.linkedin{
    color: #517fa4;
}

.footer-social-icon a {
    margin-right: 30px;
    font-size: medium;
}


.connect{
    letter-spacing: 3px;
    word-spacing: 2px;
    color: #fff;
    /* padding-bottom: 20px; */
    font-size: larger;
    font-weight: 800;
    font-family: cursive;
}